/* All Device */
.navbar {
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.navbar-brand,
.navbar-nav {
  font-family: viga;
}

.jumbotron {
  /* Photo by <a href="https://unsplash.com/@glenncarstenspeters?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Glenn Carstens-Peters</a> on <a href="https://unsplash.com/s/photos/it-dark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  font-family: viga;
  padding-top: 8rem;
  background-image: url(cover/itdark.jpg);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  background-size: cover;
  height: 750px;
  width: 100%;
}

#certificate {
  background-color: #e0e0d1;
}

section {
  padding-top: 5rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 35px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 45px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .navbar-brand {
    font-size: 35px;
  }
  .nav-item:hover::after {
    content: "";
    border-bottom: 3px solid white;
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: -8px;
  }

  .display-4 {
    font-size: 80px;
  }
}
